/* - - GENERAL - - */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

/* - - FLOAT RULES - - */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

[class*="col-"] {
  float: left;
}

/* - - FLEX RULES - - */
.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.align_center {
  align-items: center;
}
/* - - DEBUG RULES - - */
.row {
  height: 150px;
}

.debug .row [class*="col-"] {
  height: 100%;
  border: 1px solid black;
  background-color: lightcyan;
}

.debug .row .row {
  padding: 5px;
}

.debug .row .row [class*="col-"] {
  height: 100%;
  border: 1px dotted black;
  background-color: lightgray;
}
/* - - TRANSFORM - - */
.text_uppercase {
  text-transform: uppercase;
}

.circle_img {
  border-radius: 100%;
}
/* - - ALLINEAMENTO - - */
.text_right {
  text-align: right;
}
.text_center {
  text-align: center;
}

/* - - MARGINI - - */
.m_10 {
  margin: 10px;
}
.mr_10 {
  margin-right: 10px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_5 {
  margin-bottom: 5px;
}

/* - - FRAMEWORK - - */
.col-lg-1 {
  width: calc(100% / 12 * 1);
}

.col-lg-2 {
  width: calc(100% / 12 * 2);
}

.col-lg-3 {
  width: calc(100% / 12 * 3);
}

.col-lg-4 {
  width: calc(100% / 12 * 4);
}

.col-lg-5 {
  width: calc(100% / 12 * 5);
}

.col-lg-6 {
  width: calc(100% / 12 * 6);
}

.col-lg-7 {
  width: calc(100% / 12 * 7);
}

.col-lg-8 {
  width: calc(100% / 12 * 8);
}

.col-lg-9 {
  width: calc(100% / 12 * 9);
}

.col-lg-10 {
  width: calc(100% / 12 * 10);
}

.col-lg-11 {
  width: calc(100% / 12 * 11);
}

.col-lg-12 {
  width: calc(100% / 12 * 12);
}

.lg-display-none {
  display: none;
}

/* - - RESPONSIVE FRAMEWORK */

@media screen and (min-width: 768px) and (max-width: 992px) {
  .col-md-1 {
    width: calc(100% / 12 * 1);
  }

  .col-md-2 {
    width: calc(100% / 12 * 2);
  }

  .col-md-3 {
    width: calc(100% / 12 * 3);
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
  }

  .col-md-5 {
    width: calc(100% / 12 * 5);
  }

  .col-md-6 {
    width: calc(100% / 12 * 6);
  }

  .col-md-7 {
    width: calc(100% / 12 * 7);
  }

  .col-md-8 {
    width: calc(100% / 12 * 8);
  }

  .col-md-9 {
    width: calc(100% / 12 * 9);
  }

  .col-md-10 {
    width: calc(100% / 12 * 10);
  }

  .col-md-11 {
    width: calc(100% / 12 * 11);
  }

  .col-md-12 {
    width: calc(100% / 12 * 12);
  }

  .md-display-none {
    display: none;
  }

  .md-display {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .col-xs-1 {
    width: calc(100% / 12 * 1);
  }

  .col-xs-2 {
    width: calc(100% / 12 * 2);
  }

  .col-xs-3 {
    width: calc(100% / 12 * 3);
  }

  .col-xs-4 {
    width: calc(100% / 12 * 4);
  }

  .col-xs-5 {
    width: calc(100% / 12 * 5);
  }

  .col-xs-6 {
    width: calc(100% / 12 * 6);
  }

  .col-xs-7 {
    width: calc(100% / 12 * 7);
  }

  .col-xs-8 {
    width: calc(100% / 12 * 8);
  }

  .col-xs-9 {
    width: calc(100% / 12 * 9);
  }

  .col-xs-10 {
    width: calc(100% / 12 * 10);
  }

  .col-xs-11 {
    width: calc(100% / 12 * 11);
  }

  .col-xs-12 {
    width: calc(100% / 12 * 12);
  }

  .xs-display-none {
    display: none;
  }

  .xs-display {
    display: block;
  }
}

/* - - OFFSET RULES - - */
.col-lg-offset-1 {
  margin-left: calc(100% / 12 * 1);
}

.col-lg-offset-2 {
  margin-left: calc(100% / 12 * 2);
}

.col-lg-offset-3 {
  margin-left: calc(100% / 12 * 3);
}

.col-lg-offset-4 {
  margin-left: calc(100% / 12 * 4);
}

.col-lg-offset-5 {
  margin-left: calc(100% / 12 * 5);
}

.col-lg-offset-6 {
  margin-left: calc(100% / 12 * 6);
}

.col-lg-offset-7 {
  margin-left: calc(100% / 12 * 7);
}

.col-lg-offset-8 {
  margin-left: calc(100% / 12 * 8);
}

.col-lg-offset-9 {
  margin-left: calc(100% / 12 * 9);
}

.col-lg-offset-10 {
  margin-left: calc(100% / 12 * 10);
}

.col-lg-offset-11 {
  margin-left: calc(100% / 12 * 11);
}

.col-lg-offset-12 {
  margin-left: calc(100% / 12 * 12);
}

/* - - RESPONSIVE OFFSET - - */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .col-md-offset-1 {
    margin-left: calc(100% / 12 * 1);
  }

  .col-md-offset-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .col-md-offset-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .col-md-offset-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .col-md-offset-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .col-md-offset-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .col-md-offset-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .col-md-offset-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .col-md-offset-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .col-md-offset-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .col-md-offset-11 {
    margin-left: calc(100% / 12 * 11);
  }

  .col-md-offset-12 {
    margin-left: calc(100% / 12 * 12);
  }
}

@media screen and (max-width: 768px) {
  .col-xs-offset-1 {
    margin-left: calc(100% / 12 * 1);
  }

  .col-xs-offset-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .col-xs-offset-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .col-xs-offset-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .col-xs-offset-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .col-xs-offset-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .col-xs-offset-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .col-xs-offset-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .col-xs-offset-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .col-xs-offset-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .col-xs-offset-11 {
    margin-left: calc(100% / 12 * 11);
  }

  .col-xs-offset-12 {
    margin-left: calc(100% / 12 * 12);
  }
}
