/* | GENERAL */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  overflow: hidden;
}

/* | MAIN  */
.overflow_container {
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: calc(100% - 90px);
  position: relative;
  display: flex;
}

/* | FIXED BAR */
.fixed_bar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.fixed_bar a {
  font-size: 0.7em;
  font-weight: 600;
  padding: 15px 35px;
  margin-right: 30px;
  border: 1px solid white;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.2s;
}

.fixed_bar a:hover {
  transform: scale(1.1);
  font-size: 0.8em;
  padding: 10px 25px;
  color: #1db954;
}

/* + Sezione NAV Laterale */
.main_nav {
  width: 250px;
  height: 100vh;
  background-color: black;
  padding: 20px 20px 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_nav_xs {
  display: none;
}

/* LOGO SECTION */
.main_nav .logo_section .logo_big {
  width: 70%;
}

/* CONTROLLI PRINCIPALI */
.main_nav .control_row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main_nav .control_section img {
  width: 15%;
  margin-right: 10px;
  opacity: 0.5;
}

.main_nav .control_section p {
  font-size: 0.8em;
  font-weight: 600;
  color: gray;
}

/* PLAYLIST CREATE */
.main_nav .playlist_create h5 {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 10px;
}

.main_nav .playlist_create .create i {
  color: black;
  padding: 10px;
  background-color: gray;
  margin-right: 10px;
}

.main_nav .playlist_create .create p {
  font-size: 0.8em;
  font-weight: 600;
  color: gray;
}

/* PLAYLIST LIST */
.main_nav .playlist_list {
  min-height: 25%;
  padding: 10px 0;
  overflow: auto;
}

.main_nav .playlist_list p {
  margin-bottom: 20px;
  font-size: 0.8em;
  font-weight: 600;
  color: gray;
}

/* USER SECTION */
.user_section .app_install i {
  font-size: 0.5em;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 5px;
  color: gray;
  margin-right: 15px;
}

.user_section .app_install p {
  font-size: 0.9em;
  color: gray;
  font-weight: 600;
  margin-top: 2px;
}

.user_section .user_name {
  margin-top: 10px;
}

.user_section .user_name img {
  width: 30px;
  margin-right: 10px;
}

.user_section .user_name p {
  font-weight: 800;
}

/* | MAIN - SEZIONE PRINCIPALE */
.main_content {
  width: calc(100% - 250px);
  padding-top: 90px;
  background-color: #141922;
  overflow: auto;
}

/* ? Regole generali replicabili su tutta la main_content */
.main_content img {
  width: 100%;
}

.main_content h2 {
  font-size: 1em;
  font-weight: 800;
  margin: 10px 0;
}

.main_content p {
  font-size: 0.8em;
  font-weight: 600;
  color: gray;
}

/* Menù centrale filtro Categorie */
.filter_nav_menu {
  margin: 10px 0 30px;
}

.filter_nav_menu ul li {
  margin: 10px 20px;
}

.filter_nav_menu ul li a {
  font-size: 0.8em;
  color: gray;
  font-weight: 700;
  position: relative;
}

/* ? Animazione barra verde sotto elementi */
.filter_nav_menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 50%;
  transform: translate(50%, 50%);
  width: 0;
  height: 2px;
  background-color: #1db954;
  border-radius: 1px;
}

.filter_nav_menu ul li a:hover {
  color: white;
}

.filter_nav_menu ul li a:hover::after {
  animation: lowerBarMove 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes lowerBarMove {
  0% {
    width: 0;
  }

  50% {
    width: 50px;
  }

  100% {
    width: 40px;
  }
}

/* ? Focus su elemento cliccato */
.filter_nav_menu ul li a:focus {
  color: white;
}

.filter_nav_menu ul li a:focus::after {
  width: 40px;
}

/* Sezione RECENTLY PLAYED */
.playlist {
  padding: 0 30px;
  margin-bottom: 40px;
}

.playlist h1 {
  font-weight: 800;
  margin-bottom: 30px;
}

.playlist_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.playlist_box {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.playlist_box .img_box {
  position: relative;
  cursor: pointer;
}

.playlist_box .img_box i {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 1.5em;
  padding: 20px;
  background-color: #1db954;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: playButtonDown 0.3s linear;
  animation-fill-mode: forwards;
}

.img_box:hover i {
  animation: playButtonUp 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes playButtonUp {
  0% {
    opacity: 0;
    bottom: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    bottom: 20px;
  }
}

@keyframes playButtonDown {
  0% {
    opacity: 1;
    bottom: 20px;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    bottom: 0;
  }
}

/* CREATED FOR */
.created_for h1 {
  margin-bottom: 5px;
}

.created_for p {
  margin-bottom: 30px;
}

/* POPULAR ARTIST */
.popular_artist h1 {
  margin-bottom: 5px;
}

.popular_artist p {
  margin-bottom: 30px;
}

/* | FOOTER */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

/* + TRACK NAME */
.track_name_xs {
  display: none;
}

.track_name {
  min-width: 250px;
  height: 100%;
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: space-around;
}

.track_img img {
  width: 50px;
  margin-right: 10px;
}

.track_info h6 {
  font-size: 0.7em;
  font-weight: 800;
}

.track_info p {
  font-size: 0.6em;
  font-weight: 600;
  color: gray;
}

.track_icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.track_icons i {
  color: gray;
  margin: 0 5px;
}

/*  + MAIN CONTROL */
.main_control {
  max-width: 650px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  flex-grow: 1;
}

.track_controls {
  width: 100%;
  margin: 10px 0 15px;
}

.track_controls i {
  font-size: 1em;
  margin: 0 12px;
}

.track_controls :nth-child(3) i {
  padding: 6px 6px 6px 9px;
  border: 3px solid white;
  border-radius: 50%;
}

.main_control .container_track_bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.main_control .container_track_bar p {
  font-size: 0.7em;
  font-weight: 600;
}

.main_control .track_bar {
  width: 75%;
  height: 4px;
  margin: 0 40px;
  display: flex;
  justify-content: center;
}

.white_bar {
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

.gray_bar {
  width: 70%;
  height: 100%;
  background-color: gray;
  border-radius: 0 5px 5px 0;
}

/* + VIEW CONTROL */
.view_control_xs {
  display: none;
}

.view_control {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.view_control a,
.view_control_xs a {
  margin-right: 10px;
}

.view_control .track_bar,
.view_control_xs .track_bar {
  width: 50%;
  height: 4px;
  display: flex;
  justify-content: center;
  position: relative;
}

/* - RESPONSIVE 970PX */
@media screen and (max-width: 970px) {
  .playlist_box {
    width: calc(100% / 3 - 20px);
  }

  .view_control {
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
  }

  .view_control a {
    margin: 0 5px;
  }

  .view_control .track_bar {
    margin-bottom: 10px;
  }
}

/* - RESPONSIVE 768PX */
@media screen and (max-width: 768px) {
  /* FIXED BAR */
  .fixed_bar {
    width: calc(100% - 45px);
  }

  /* CONTROLLI PRINCIPALI */
  .main_nav {
    display: none;
  }

  .main_nav_xs {
    width: 50px;
    height: 100vh;
    background-color: black;
    padding: 10px 10px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .upper_nav_icons .logo_xs_icon {
    margin-bottom: 10px;
  }

  .upper_nav_icons :not(:first-child) {
    opacity: 0.5;
  }

  .lower_nav_icons img {
    width: 100%;
    margin: 10px 0;
  }

  .lower_nav_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lower_nav_icons i {
    margin-bottom: 5px;
    font-size: 0.4em;
    color: gray;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 5px;
  }

  /* SEZIONE PRINCIPALE MAIN */
  main {
    height: calc(100% - 90px);
  }

  .main_content {
    width: 100%;
  }

  .filter_nav_menu ul li {
    margin: 10px 10px;
  }

  /* FOOTER */
  footer {
    height: 120px;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Track Name */
  .track_name {
    display: none;
  }

  .track_name_xs {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .track_name_xs .track_info h6 {
    font-size: 0.9em;
    margin-right: 5px;
  }

  .track_name_xs .track_info p {
    font-size: 0.8em;
  }

  .track_name_xs .track_icons {
    margin-left: 0;
  }

  /* Main Control */
  .main_control {
    max-width: 100%;
    height: 90px;
    order: 1;
  }

  .main_control .track_bar {
    margin: 0 20px;
  }

  /* View Control */
  .view_control {
    display: none;
  }

  .view_control_xs {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b001c7d3;
  }
}

/* - RESPONSIVE 500PX */
@media screen and (max-width: 500px) {
  .playlist_box {
    width: calc(100% / 2 - 20px);
  }

  /* Track Name */
  .track_name_xs {
    width: 100%;
  }

  /* View Control */
  .view_control {
    display: none;
  }

  .view_control_xs {
    display: none;
  }
}
